<footer class="footer">
  <div class="footer-top">
    <!-- LEFT -->
    <div class="footer-left">
      <!-- logo -->
      <div class="footer-brand">
        <svg fill="currentColor" viewBox="0 0 41 40" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-testid="@paloma-logo-ea" height="44" width="44" class="@paloma-logo-image" style="fill: currentcolor">
          <path
            clip-rule="evenodd"
            d="M20.5 40C31.5457 40 40.5 31.0457 40.5 20C40.5 8.9543 31.5457 0 20.5 0C9.4543 0 0.5 8.9543 0.5 20C0.5 31.0457 9.4543 40 20.5 40ZM8.36931 18.583H20.017L18.2273 21.4453H12.6307L10.8693 24.1377H19.0795L26.3807 13L35.5 27H32.0625L30.2443 24.1377H24.9318L26.6932 21.4453H28.3977L26.3807 18.583L20.6989 27H5.5L9.10796 21.4453H6.49432L8.36931 18.583ZM12.0909 13H23.9943L22.233 15.9474H10.2727L12.0909 13Z"
            fill-rule="evenodd"
          ></path>
        </svg>

        <span class="copyright"> © 2026 Electronic Arts Inc. </span>
      </div>

      <!-- links -->
      <div class="footer-links">
        <div class="footer-col">
          <p>
            Company
            <i class="fa-solid fa-chevron-down"></i>
          </p>

          <ul>
            <li><a href="https://www.ea.com/ea-app">EA App</a></li>
            <li><a href="https://www.ea.com/about">About</a></li>
            <li><a href="https://www.ea.com/accessibility">Accessibility</a></li>
            <li><a href="https://www.ea.com/careers">Careers</a></li>
            <li><a href="https://www.ea.com/security">Security</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <p>
            Support
            <i class="fa-solid fa-chevron-down"></i>
          </p>

          <ul>
            <li><a href="https://forums.ea.com/category/ea-forums-en">EA Forums</a></li>
            <li><a href="https://www.ea.com/en-gb/legal/service-updates">Online Service Updates</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <p>
            Legal
            <i class="fa-solid fa-chevron-down"></i>
          </p>

          <ul>
            <li><a href="https://www.ea.com/en-gb/legal">Legal and Privacy</a></li>
            <li><a href="https://www.ea.com/legal/user-agreement?isLocalized=true&setLocale=en-gb">User Agreement</a></li>
            <li><a href="https://www.ea.com/legal/privacy-and-cookie-policy?isLocalized=true&setLocale=en-gb">Privacy & Cookie Policy</a></li>
            <li>
              <button class="footer__cookie-preferences">
                <img alt="Your Privacy Cookies" class="rounded-xl object-cover footer__cookie-preferences__image" src="https://help.ea.com/_images/seegk6e7ypwi/1oOwiLvCsh6G19wJmFCOjD/2074ade58bf8abcd6b99ef711a7a53c0/privacyChoices.svg" loading="lazy" />
                Your Privacy Choices
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-right">
        <div class="footer-top-row">
          <a target="_blank" class="truste" href="https://privacy.truste.com/privacy-seal/validation?rid=f1a11c5d-0232-4077-8498-2e69a38c1335">
            <img alt="TrustArc Seal" src="https://help.ea.com/_images/seegk6e7ypwi/1DS7CnPWQFtkzazrh8XqVH/e0d4eef595a520c2abe0ec17f2b427d9/trustArcSeal.svg" loading="lazy" />
          </a>

          <div class="lang-desktop">
            <div class="langSelectWrapper">
              <div class="langCustomSelect">
                <div class="langCustomSelectTrigger">
                  <i class="fa-solid fa-globe"></i>
                  <span class="langSelectedText">English</span>
                </div>

                <div class="langCustomOptions">
                  <span class="langCustomOption selected" data-value="en">English</span>
                  <span class="langCustomOption" data-value="aurebesh">Aurebesh</span>
                </div>
              </div>

              <select class="lang-select" id="language-select" hidden>
                <option value="en" selected>English</option>
                <option value="aurebesh">Aurebesh</option>
              </select>
            </div>
          </div>

          <button class="lang-mobile-btn" id="language-modal-trigger">
            <i class="fa-solid fa-globe"></i>
            <span>Language</span>
          </button>
        </div>

        <div class="footer-bottom">
          <div class="social-row">
            <a target="_blank" href="https://www.youtube.com/EA" class="social-btn" aria-label="YouTube">
              <i class="fa-brands fa-youtube"></i>
            </a>

            <a target="_blank" href="https://x.com/EA" class="social-btn" aria-label="Twitter">
              <i class="fa-brands fa-x-twitter"></i>
            </a>

            <a target="_blank" href="https://facebook.com/EA" class="social-btn" aria-label="Facebook">
              <i class="fa-brands fa-facebook-f"></i>
            </a>

            <a target="_blank" href="https://instagram.com/ea" class="social-btn" aria-label="Instagram">
              <i class="fa-brands fa-instagram"></i>
            </a>

            <a target="_blank" href="https://twitch.tv/ea" class="social-btn" aria-label="Twitch">
              <i class="fa-brands fa-twitch"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/electronic-arts/" class="social-btn" aria-label="Linkedin">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
